.page-option {
  background: #ffffff;
  padding-top: 25px;
  padding-bottom: 30px; }
  .page-option .form-page .fp-heading .fp-tit {
    text-transform: uppercase;
    color: #111111;
    font-weight: 700;
    font-size: 32px;
    text-align: center; }
    .page-option .form-page .fp-heading .fp-tit span {
      color: #F84343;
      padding-left: 10px;
      font-size: 30px; }
  .page-option .form-page .fp-heading .fp-extra {
    font-size: 14px;
    color: #7C7C7C;
    text-align: center; }
  .page-option .form-page .fp-content {
    margin-top: 40px; }
    .page-option .form-page .fp-content .fp-group {
      margin-top: 25px;
      clear: both; }
      .page-option .form-page .fp-content .fp-group:first-child {
        margin-top: 0; }
      .page-option .form-page .fp-content .fp-group .fp-label {
        text-transform: uppercase;
        color: #111111;
        font-weight: 700;
        position: relative; }
        .page-option .form-page .fp-content .fp-group .fp-label.fp-label-require .s-star {
          color: #F84343;
          padding-left: 5px; }
        .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad {
          color: #F84343;
          font-size: inherit;
          position: relative;
          float: right;
          display: none; }
          .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad .cb-in-ad {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer; }
          .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad span {
            display: inline-block;
            position: relative;
            padding-left: 25px; }
            .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad span::before {
              content: '';
              border: 1px solid;
              color: #F84343;
              width: 20px;
              height: 20px;
              position: absolute;
              left: 0;
              top: 0; }
            .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad span::after {
              content: '';
              position: absolute;
              height: 12px;
              width: 7px;
              border-style: solid;
              border-width: 0 1px 1px 0;
              left: 6px;
              top: 2px;
              display: none;
              -webkit-transform: rotate(40deg);
              -ms-transform: rotate(40deg);
              -o-transform: rotate(40deg);
              transform: rotate(40deg); }
          .page-option .form-page .fp-content .fp-group .fp-label .checkbox-ad .cb-in-ad:checked + span::after {
            display: block; }
      .page-option .form-page .fp-content .fp-group .fp-sub-group {
        margin-bottom: 25px; }
      .page-option .form-page .fp-content .fp-group .fp-input {
        margin-top: 10px;
        position: relative; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-tab {
          margin-left: -10px;
          margin-right: -10px; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-tab:after {
            content: '';
            display: table;
            clear: both; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i {
            float: left;
            width: calc(100% / 3);
            padding-left: 10px;
            padding-right: 10px; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .fp-tab-ii {
              position: relative; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .fp-tab-select {
              line-height: 64px;
              min-width: 237px;
              width: 100%;
              border: 1px solid #D6D6D6;
              position: relative;
              text-align: center;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .hd-check-tab {
              height: 100%;
              width: 100%;
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              z-index: 1;
              opacity: 0;
              filter: alpha(opacity=0);
              cursor: pointer;
              margin: 0; }
              .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .hd-check-tab:checked + .fp-tab-select {
                box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.3);
                border-color: #FFB820;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s; }
              .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .hd-check-tab:hover + .fp-tab-select {
                border-color: #FFB820;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-tab .fp-tab-i .fp-tab-check {
              height: 22px;
              width: 22px;
              border-radius: 100%;
              color: #ffffff;
              background: #FFB820 url("../images/layout/checkbox-white.png") no-repeat center;
              text-align: center;
              display: inline-block;
              margin-bottom: -5px;
              margin-left: 10px;
              font-weight: 300; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-list {
          padding-left: 30px;
          padding-right: 30px;
          background: #ffffff; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i {
            border-bottom: 1px solid #D6D6D6;
            position: relative; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i .fp-list-chckbox {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              margin-top: 0;
              background: transparent;
              opacity: 0;
              filter: alpha(opacity=0);
              cursor: pointer; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i span {
              display: block;
              line-height: 55px;
              position: relative;
              padding-left: 40px;
              padding-right: 40px;
              font-weight: 300; }
              .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i span::after {
                content: '';
                height: 20px;
                width: 20px;
                background: #FFB820 url("../images/layout/checkbox-white.png") no-repeat center;
                position: absolute;
                border-radius: 100%;
                right: 0;
                top: 50%;
                margin-top: -10px;
                display: none; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i .fp-list-chckbox:checked + span::after {
              display: block; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-list .fp-list-i:last-child {
              border: none; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main {
          min-width: 200px;
          min-height: 200px;
          border: 1px solid #D6D6D6;
          color: #D6D6D6;
          text-align: center;
          position: relative;
          opacity: 0.8;
          filter: alpha(opacity=0.8); }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main .fp-f-input {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            z-index: 2;
            cursor: pointer; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main .fp-f-m-before {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main .fp-f-m-before img {
              display: inline-block;
              margin-bottom: 10px; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main .fp-f-m-before span {
              display: block;
              margin-bottom: 5px;
              line-height: 1;
              font-size: 14px; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-choose .fp-f-main:hover {
            opacity: 1;
            filter: alpha(opacity=1); }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-left: -5px;
          margin-right: -5px; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i {
            float: left;
            width: calc(100% / 3);
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 15px; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i .fp-f-chip-ii {
              height: 100px;
              overflow: hidden;
              text-align: center;
              color: #D6D6D6;
              border: 1px solid;
              position: relative;
              background: #ffffff url("../images/layout/icon-img.png") no-repeat center; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i img {
              min-width: 100%;
              min-height: 100%;
              display: inline-block; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i .fp-f-stips {
              position: absolute;
              top: 50%;
              left: 50%;
              min-width: 60px;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
              .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i .fp-f-stips .fp-f-stip {
                height: 24px;
                width: 24px;
                border-radius: 100%;
                text-align: center;
                display: block;
                float: left;
                margin: 0 3px;
                cursor: pointer; }
                .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i .fp-f-stips .fp-f-stip.stip-ok {
                  background: #FFB820 url("../images/layout/checkbox-white.png") no-repeat center; }
                .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i .fp-f-stips .fp-f-stip.stip-remove {
                  background: #F84343 url("../images/layout/remove.png") no-repeat center; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i._loading .fp-f-chip-ii::before {
              content: '';
              background: rgba(0, 0, 0, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%; }
            .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i._loading .fp-f-chip-ii .fp-f-loading {
              position: absolute;
              width: 70%;
              height: 4px;
              background: #D6D6D6;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
              .page-option .form-page .fp-content .fp-group .fp-input.fp-file .fp-f-chip .fp-f-lstchip .fp-f-chip-i._loading .fp-f-chip-ii .fp-f-loading::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: #FFB820;
                height: 100%;
                width: 40%; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-select .select2-selection__rendered {
          line-height: inherit;
          padding: 0; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-select .select2-selection__arrow {
          background: url("../images/layout/arrow-down-dark.png") no-repeat left center;
          height: 100%;
          width: 30px; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-select .select2-selection__arrow b {
            display: none; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-date .fp-date-w input {
          border: none;
          outline: none;
          line-height: 1;
          padding: 0; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-date .fp-date-w input.fp-d-d, .page-option .form-page .fp-content .fp-group .fp-input.fp-date .fp-date-w input.fp-d-m {
            width: 30px; }
          .page-option .form-page .fp-content .fp-group .fp-input.fp-date .fp-date-w input.fp-d-y {
            width: 50px; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-date .fp-date-w span {
          display: inline-block;
          width: 1px;
          min-height: 20px;
          -webkit-transform: rotate(20deg);
          -ms-transform: rotate(20deg);
          -o-transform: rotate(20deg);
          transform: rotate(20deg);
          background: #D6D6D6;
          margin-bottom: -4px;
          margin-left: 10px;
          margin-right: 20px; }
        .page-option .form-page .fp-content .fp-group .fp-input.fp-textarea .fp-control {
          line-height: 1.2;
          padding-top: 15px;
          padding-bottom: 15px; }
        .page-option .form-page .fp-content .fp-group .fp-input .fp-btn-hide {
          height: 22px;
          width: 22px;
          border-radius: 100%;
          color: #ffffff;
          background: #F84343 url("../images/layout/remove.png") no-repeat center;
          text-align: center;
          display: inline-block;
          font-weight: 300;
          position: absolute;
          cursor: pointer;
          right: 20px;
          top: 50%;
          margin-top: -11px;
          opacity: 0.8;
          filter: alpha(opacity=0.8); }
          .page-option .form-page .fp-content .fp-group .fp-input .fp-btn-hide:hover {
            opacity: 1;
            filter: alpha(opacity=1); }
        .page-option .form-page .fp-content .fp-group .fp-input .fp-control, .page-option .form-page .fp-content .fp-group .fp-input .select2-selection {
          width: 100%;
          line-height: 43px;
          color: #111111;
          border: 1px solid #D6D6D6;
          font-family: "Roboto", sans-serif;
          font-weight: normal;
          box-shadow: inset 0px 0px 2px #D6D6D6;
          padding: 0;
          padding-left: 20px;
          padding-right: 50px;
          outline-color: #cccccc;
          height: auto;
          border-radius: 0; }
      .page-option .form-page .fp-content .fp-group.fp-error .fp-input .fp-control {
        border-color: #F84343;
        box-shadow: inset 0px 0px 2px #F84343;
        color: #F84343;
        outline-color: inherit; }
      .page-option .form-page .fp-content .fp-group.fp-error .fp-input .s-error {
        color: #F84343;
        font-size: 14px;
        display: block;
        margin-top: 7px; }
    .page-option .form-page .fp-content .fp-submit {
      margin-top: 25px; }
    .page-option .form-page .fp-content .fp-desc {
      color: #707070;
      text-align: center;
      margin-top: 20px; }
      .page-option .form-page .fp-content .fp-desc a {
        color: #FFB820;
        text-transform: uppercase;
        margin-left: 5px; }
    .page-option .form-page .fp-content .fp-btn {
      width: 100%;
      background: #FFB820;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
      border: none;
      outline: none; }
  .page-option .form-page.form-register, .page-option .form-page.form-login {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px; }
  .page-option .form-page.form-login .fp-desc a:first-child {
    margin-right: 50px;
    color: inherit;
    text-transform: none; }
  .page-option .form-page.form-step {
    min-height: 800px; }
  .page-option .form-page.form-white .fp-content {
    background: #ffffff;
    padding: 30px; }

.step-wrapper .top {
  line-height: 110px;
  background: #ffffff; }
  .step-wrapper .top .top-step {
    padding-right: 30px; }
    .step-wrapper .top .top-step .ct-step {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 2px;
      background: #D6D6D6;
      width: 100%;
      margin-top: 50px;
      z-index: 1; }
      .step-wrapper .top .top-step .ct-step .ct-step-i {
        float: left;
        margin-right: calc(100% / 5);
        width: 0; }
        .step-wrapper .top .top-step .ct-step .ct-step-i:last-child {
          margin-right: 0; }
        .step-wrapper .top .top-step .ct-step .ct-step-i span {
          height: 16px;
          width: 16px;
          margin-top: -7px;
          background: #ffffff;
          border-radius: 100%;
          position: relative;
          z-index: 0;
          display: block; }
          .step-wrapper .top .top-step .ct-step .ct-step-i span::before {
            content: '';
            height: 8px;
            width: 8px;
            background: #D6D6D6;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            margin-top: -4px;
            margin-left: -4px;
            position: absolute;
            z-index: 2; }
          .step-wrapper .top .top-step .ct-step .ct-step-i span::after {
            content: '';
            height: 46px;
            width: 46px;
            background: #FFB820;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            margin-top: -23px;
            margin-left: -23px;
            position: absolute;
            z-index: 1;
            display: none; }
        .step-wrapper .top .top-step .ct-step .ct-step-i._done span::before, .step-wrapper .top .top-step .ct-step .ct-step-i._current span::before {
          background: #ffffff;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35); }
        .step-wrapper .top .top-step .ct-step .ct-step-i._done span::after, .step-wrapper .top .top-step .ct-step .ct-step-i._current span::after {
          display: block; }
        .step-wrapper .top .top-step .ct-step .ct-step-i._done span::before {
          display: none; }
        .step-wrapper .top .top-step .ct-step .ct-step-i._done span::after {
          background: #FFB820 url("../images/layout/checkbox-large-shadow.png") no-repeat calc(50% + 2px) calc(50% + 2px); }
  .step-wrapper .top .top-step-mobile {
    background: #FFB820;
    line-height: 1;
    display: none; }
    .step-wrapper .top .top-step-mobile::after {
      content: '';
      clear: both;
      display: table; }
    .step-wrapper .top .top-step-mobile .st-btn-back {
      float: left;
      width: 65px;
      height: 55px; }
      .step-wrapper .top .top-step-mobile .st-btn-back a {
        display: block;
        height: 100%;
        background: transparent url("../images/layout/arrow-left.png") no-repeat center; }
    .step-wrapper .top .top-step-mobile .st-info {
      float: right;
      width: calc(100% - 65px); }
    .step-wrapper .top .top-step-mobile .st-t-lg {
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase; }
    .step-wrapper .top .top-step-mobile .st-t-small {
      font-size: 10px;
      color: #ffffff;
      font-weight: 300; }
    .step-wrapper .top .top-step-mobile .st-tit span {
      color: #F84343;
      padding-left: 7px; }
    .step-wrapper .top .top-step-mobile .st-extra {
      padding-top: 5px; }

.step-wrapper .step-content {
  background: #E8E8E8; }
  .step-wrapper .step-content.bg-white {
    background: #ffffff; }

.step-wrapper .done-page .form-page.form-white .fp-content {
  background: transparent; }
  .step-wrapper .done-page .form-page.form-white .fp-content .content-done {
    background: #ffffff;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px; }
    .step-wrapper .done-page .form-page.form-white .fp-content .content-done h4 {
      font-size: 25px;
      text-align: center;
      font-weight: 700;
      line-height: 1.2; }
    .step-wrapper .done-page .form-page.form-white .fp-content .content-done p {
      text-align: center; }
    .step-wrapper .done-page .form-page.form-white .fp-content .content-done a {
      color: #111111; }
      .step-wrapper .done-page .form-page.form-white .fp-content .content-done a:hover {
        color: #FF772F; }
