// Yellow main color
$cl-yellow: #FFB820;

$cl-yellow-light: #FDED0F;

$cl-yellow-o: #FFB820;

// Black main color
$cl-black: #111111;

// SIlver color
$cl-silver: #707070;

// Orange Color
$cl-orange: #FF772F;

$cl-red: #F84343;

$cl-bg: #e8e8e8;

// Green color button category
$cl-green: #47D600;

$cl-green-light: #8CE112;

// Font size main
$font-size-main: 16px;

// Font family main
$font-family: "Roboto", san-serif;

// Clor background main
$cl-bg: #E8E8E8;

//  Set line height top
$lh-top: 45px;

$h-top: 50px;


// Margin top content and side bar
$mg-c: 20px;

